.parallax-section {
  position: relative;
  width: 100vw;
  height: 49.65vw;
  display: flex;
  justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  overflow: hidden;
}

.parallax-section-lt {
  cursor: url("../../../img/rocket-lt.png"), auto;
}

.parallax-section-dt {
  cursor: url("../../../img/rocket-dt.png"), auto;
}

.parallax-section-dt::before,
.parallax-section-lt::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 5.95vw;
  z-index: 801;
}

.parallax-section-dt::before {
  background: linear-gradient(to top, var(--main-color-dt), transparent);
}

.parallax-section-lt::before {
  background: linear-gradient(to top, var(--main-color-lt), transparent);
}

.parallax-section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 49.65vw;
  object-fit: cover;
  pointer-events: none;
}

.parallax-section #text {
  position: absolute;
  font-size: 10vw;
  text-align: center;
  line-height: 8.5vw;
  font-family: Rancho, cursive;
  transform: translateY(10%);
  z-index: 300;
  height: 9vw;
}

.parallax-section-dt #text {
  color: var(--third-color-dt);
}

.parallax-section-lt #text {
  color: var(--third-color-lt);
}
