.skills-section {
  padding-top: 2vw;
  height: max-content;
}

.skills-section h2 {
  font-size: 3.5vw;
  font-weight: 500;
  width: 30vw;
  height: 5vw;
  margin: auto;
  text-align: center;
  margin-top: 5vw;
}

.skills-section-lt h2 {
  color: var(--color-font-lt);
}

.skills-section-dt h2 {
  color: var(--color-font-dt);
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  width: 100vw;
  height: max-content;
  padding-left: 5vw;
  padding-right: 5vw;
  margin-top: 1.5vw;
}
