.skills-section {
  padding-top: 6vw;
  height: max-content;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  width: 100vw;
  height: max-content;
  padding-left: 5vw;
  padding-right: 5vw;
  margin-top: 1.5vw;
}
