.skills-section {
  padding-top: 6.5vw;
  height: max-content;
}

:is(.skills-container, .certifications-container) {
  display: flex;
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  width: 100vw;
  height: max-content;
  margin-top: 1.5vw;
}

.skills-container {
  flex-wrap: wrap;
  justify-content: space-evenly;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  padding-left: 5vw;
  padding-right: 5vw;
}

.certifications-container {
  justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  flex-wrap: wrap;
  padding-left: 3vw;
  padding-right: 3vw;
}
