.card-job {
  width: 90vw;
  height: max-content;
  display: flex;
  justify-content: space-evenly;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  margin-top: 2.48vw;
}

.card-job img,
.container-data {
  background: rgba(255 255 255 / 10%);
  box-shadow: 0 8px 32px 0 rgba(31 38 135 / 37%);
  backdrop-filter: blur(7.5px);
  border-radius: 0.9vw;
  border: 0.1vw solid rgba(255 255 255 / 18%);
}

.card-job img {
  width: 20vw;
  height: 20vw;
  padding: 0.5vw;
  object-fit: cover;
}

.container-data {
  width: 63vw;
  height: max-content;
  padding: 1.5vw;
}

.container-data-lt {
  color: var(--color-font-lt);
}

.container-data-dt {
  color: var(--color-font-dt);
}

.container-data h3 {
  font-size: 1.8vw;
}

.container-data h4 {
  font-size: 1.4vw;
}

.container-data h5 {
  font-size: 1.2vw;
}

.container-data p {
  font-size: 1.3vw;
}
