:is(.container-data, .button-job, .button-job-close) {
  display: flex;
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

.container-data {
  position: relative;
  justify-content: flex-start;
  width: 45vw;
  height: 15vw;
  border-radius: 0.5vw;
  background: rgba(255 255 255 / 10%);
  box-shadow: 0 8px 32px 0 rgba(31 38 135 / 37%);
  backdrop-filter: blur(7.5px);
  border: 0.1vw solid rgba(255 255 255 / 18%);
}

.container-data img {
  width: 10vw;
  height: 10vw;
  padding: 0.5vw;
  border-radius: 0.5vw;
  background-size: cover;
  background-position: center;
  margin-left: -2vw;
  margin-right: 3vw;
}

.container-data-lt img {
  background-color: var(--main-color-lt);
}

.container-data-dt img {
  background-color: var(--main-color-dt);
}

:is(.job-information, .job-description) {
  width: 35vw;
  height: 13vw;
  overflow: hidden;
}

:is(.information-disabled, .description-disabled) {
  display: none;
}

.information-active {
  display: block;
  animation: abled 0.5s linear;
}

.container-data-lt {
  color: var(--color-font-lt);
}

.container-data-dt {
  color: var(--color-font-dt);
}

.container-data h3 {
  font-size: 1.6vw;
}

.container-data h4 {
  font-size: 1.3vw;
}

.container-data h5 {
  font-size: 1.1vw;
}

:is(.button-job, .job-description, .button-job-close) {
  justify-content: space-evenly;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
}

:is(.button-job, .button-job-close) {
  padding: 0.6vw 1vw;
  color: var(--color-font-dt);
  font-size: 1.1vw;
  border-radius: 0.3vw;
  outline: none;
  border: none;
  letter-spacing: 0.1vw;
  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
}

.button-job {
  width: 9vw;
  height: 3.1vw;
  margin: auto;
  margin-top: 1.6vw;
}

.button-job-close {
  width: 10vw;
  height: 2.5vw;
  margin-left: 12.5vw;
}

.button-english {
  justify-content: center;
}

.button-english span {
  margin-left: 0.5vw;
}

:is(.container-data-lt .button-job, .container-data-lt .button-job-close) {
  background-color: var(--third-color-lt);
}

:is(.container-data-dt .button-job, .container-data-dt .button-job-close) {
  background-color: var(--third-color-dt);
}

.icon-conf-job {
  color: var(--color-font-dt);
  font-size: 1.1vw;
  transition: all 0.5s;
}

:is(.button-job span, .button-job-close span) {
  transition: 0.5s;
}

:is(.container-data-lt .button-job:hover, .container-data-lt .button-job-close:hover) {
  background-color: var(--color-hover-lt);
}

:is(.container-data-dt .button-job:hover, .container-data-dt .button-job-close:hover) {
  background-color: var(--color-hover-dt);
}

:is(.button-job:hover span, .button-job-close:hover span) {
  transform: translateY(5vw);
}

.button-job:hover .icon-conf-job {
  transform: translateX(2.6vw) scale(2);
}

.button-job-close:hover .icon-conf-job {
  transform: translateX(3vw) scale(2);
}

.button-english:hover .icon-conf-job {
  transform: translateX(1.5vw) scale(2);
}

.job-description {
  position: absolute;
  flex-direction: column;
  align-items: flex-start;
  width: 34vw;
  margin-left: 11vw;
  font-size: 1vw;
  font-weight: 500;
}

.description-active {
  display: flex;
  animation: abled 0.5s linear;
}

@keyframes abled {
  0% {
    height: 0;
  }

  50% {
    height: 6.5vw;
  }

  100% {
    height: 13vw;
  }
}
