.header-label {
  list-style: none;
  margin-left: 1vw;
}

.header-label a {
  text-decoration: none;
  padding: 0.3vw 0.8vw;
  border-radius: 0.5vw;
  font-size: 1.21vw;
  font-family: Poppins, sans-serif;
}

.header-label-lt a {
  color: #000;
}

.header-label-dt a {
  color: #fff;
}

.header-label-lt a:hover {
  color: #fff;
  background: #340d4e;
}

.header-label-dt a:hover {
  color: #000;
  background: #8a64eb;
}
