.header-label {
  list-style: none;
  margin-left: 1vw;
}

.header-label a {
  text-decoration: none;
  padding: 0.3vw 0.8vw;
  color: #fff;
  border-radius: 2vw;
  font-size: 1.21vw;
  font-family: Poppins, sans-serif;
}

.header-label a:hover,
.header-label a.active {
  background: #22104a;
  color: #fff;
}
