.cardSkill
{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 15vw;
  height: 30vh;
  margin: 1.5vw;
  background: rgba( 255, 255, 255, 0.1 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 7.5px );
  -webkit-backdrop-filter: blur( 7.5px );
  border-radius: 0.9vw;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.cardSkill p
{
  font-size: 1.5vw;
  font-weight: 500;
}