.cardCertification
{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 45vw;
  height: 32vh;
  margin: 1.5vw;
  padding: 0.5vw;
  padding-left: 1vw;
  background: rgba( 255, 255, 255, 0.1 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 7.5px );
  -webkit-backdrop-filter: blur( 7.5px );
  border-radius: 0.9vw;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.cardCertification img
{
  width: 12vw;
  height: 12vw;
  object-fit: contain;
  margin-right: 1vw;
}

.cardContainer
{
  color: #FFFFFF;
}

.cardContainer p
{
  margin-top: 1vw;
}

.btnCard
{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 10vh;
}

.btnCard a
{
  width: 8vw;
  padding: .6vw 1vw;
  text-decoration: none;
  text-align: center;
  background-color: #175CAD;
  color: #fff;
  letter-spacing: 0.1vw;
  cursor: pointer;
  border-radius: 0.3vw;
  transition: 0.5s;
}

.btnCard a:hover
{
  background-color: #2f7acf;
}