.certificationsSection
{
  padding-top: 7vh;
  min-height: max-content;
  background-color: #22104A;
  background-image: url('../../../img/waveDarkSmall.svg');
  background-repeat: no-repeat;
}

.certificationsSection h2
{
  font-size:  3.5vw;
  font-weight: 500;
  color: #FFFFFF;
  width: 30vw;
  height: 10vh;
  margin: auto;
  text-align: center;
}

.certificationsContainer
{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: max-content;
  padding-left: 5vw;
  padding-right: 5vw;
  margin-top: 3vh;
}