.experienceSection
{
  padding-top: 6vw;
  height: max-content;
  background-color: #22104A;
  background-image: url('../../../img/waveDark.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.experienceSection h2
{
  font-size:  3.5vw;
  font-weight: 500;
  color: #FFFFFF;
  width: 30vw;
  height: 5vw;
  margin: auto;
  text-align: center;
}

.experienceContainer
{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  min-height: max-content;
  padding-left: 5vw;
  padding-right: 5vw;
  margin-top: 1.5vw;
}