#header {
  position: sticky;
  top: 0;
  width: 100vw;
  height: 5.15vw;
  padding: 2vw 5.3vw;
  display: flex;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  background-color: #175cad;
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  z-index: 10000;
}

#container-logo {
  width: 15vw;
  height: 5vw;
  padding-top: 0.1vw;
  display: flex;
  justify-content: space-evenly;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

#image-logo {
  width: 5vw;
  height: 5vw;
  background-image: url("../../../img/logo1.svg");
  background-size: contain;
  background-position: center;
}

#text-logo {
  width: 9vw;
  height: 5vw;
  color: #e94b0c;
}

#text-logo span {
  font-weight: 900;
  font-size: 3.6vw;
  text-decoration: none;
  font-family: Orbitron, sans-serif;
}

#header ul {
  display: flex;
  justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
}
