.projectsSection
{
  padding-top: 5vw;
  height: max-content;
  background-color: #094B65;
  background-image: url('../../../img/waveDarkSmall2.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.projectsSection h2
{
  font-size:  3.5vw;
  font-weight: 500;
  color: #FFFFFF;
  width: 30vw;
  height: 5vw;
  margin: auto;
  text-align: center;
}

.projectsContainer
{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5vw;
}
