.projects-section {
  padding-top: 5vw;
  height: max-content;
}

.projects-section h2 {
  font-size: 3.5vw;
  font-weight: 500;
  width: 30vw;
  height: 5vw;
  margin: auto;
  text-align: center;
}

.projects-section-lt h2 {
  color: var(--color-font-lt);
}

.projects-section-dt h2 {
  color: var(--color-font-dt);
}

.projects-container {
  display: flex;
  justify-content: space-evenly;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  padding: 5vw;
}
