.projects-section {
  padding-top: 6.5vw;
  height: 27vw;
}

.projects-container {
  display: flex;
  justify-content: space-evenly;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  padding: 5vw;
}
