.about-section {
  padding-top: 6vw;
  height: max-content;
  background-repeat: no-repeat;
  background-size: contain;
}

.about-section-lt {
  background-color: var(--secondary-color-lt);
  background-image: url("../../../img/wave-lt.svg")
}

.about-section-dt {
  background-color: var(--secondary-color-dt);
  background-image: url("../../../img/wave-dt.svg");
}

.about-title {
  width: 30vw;
  height: 5vw;
  border-radius: 0 2vw 2vw 0;
  padding-left: 5vw;
}

.about-section-lt .about-title {
  background-color: var(--third-color-lt);
}

.about-section-dt .about-title {
  background-color: var(--third-color-dt);
}

.about-title h2 {
  font-size: 3.5vw;
  font-weight: 500;
  height: 5vw;
  margin: auto;
  text-align: left;
}

.about-section-lt .about-title h2,
.about-section-lt .container-title-about div,
.about-section-lt .about-panel-left article p {
  color: var(--color-font-lt);
}

.about-section-dt .about-title h2,
.about-section-dt .container-title-about div,
.about-section-dt .about-panel-left article p {
  color: var(--color-font-dt);
}

.about-container,
.about-container  > div {
  display: flex;
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  height: max-content;
}

.about-container {
  margin-top: 2vw;
}

.about-container  > div {
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  justify-content: space-evenly;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  width: 50vw;
  height: 36vw;
}

.container-title-about {
  display: flex;
  justify-content:space-around;
  -webkit-box-pack: space-around;
  -ms-flex-pack: space-around;
  width: 36vw;
  height: 4vw;
  padding-top: 1vw;
  font-size: 1.5vw;
}

.container-title-about div {
  font-weight: 500;
  width: 40vw;
  height: 5vw;
}

.rotate-words span {
  width: max-content;
  font-family: Rancho, cursive;
  letter-spacing: 0.2vw;
  font-weight: 300;
  position: absolute;
  padding-inline: 1vw;
  border-radius: 0.4vw;
  opacity: 0;
  transform-origin: 10% 75%;
  animation: rotatewords 12s var(--d) linear infinite;
}

.about-section-lt .rotate-words span {
  background-color: var(--main-color-lt);
  color: var(--third-color-dt);
}

.about-section-dt .rotate-words span {
  background-color: var(--main-color-dt);
  color: var(--third-color-lt);
}

.image {
  background: rgba(255 255 255 / 10%) url("../../../img/me.png");;
  box-shadow: 0 8px 32px 0 rgba(31 38 135 / 37%);
  backdrop-filter: blur(7.5px);
  border-radius: 42% 56% 72% 28% / 42% 42% 56% 48%;
  border: 0.1vw solid rgba(255 255 255 / 18%);
  width: 18vw;
  height: 23vw;
  background-repeat: no-repeat;
  background-size: cover;
  animation: morph 3.75s linear infinite;
}

.about-panel-left article p {
  font-size: 1.3vw;
  font-weight: 500;
  padding-left: 1vw;
}

@keyframes rotatewords {
  5% {
    opacity: 1;
  }

  10%,
  20% {
    opacity: 1;
    transform: rotate(3deg);
  }

  15% {
    transform: rotate(-1deg);
  }

  25% {
    opacity: 0;
    transform: translate(90px) rotate(10deg);
  }
}

@keyframes morph {
  0%,
  100% {
    border-radius: 42% 56% 72% 28% / 42% 42% 56% 48%;
  }

  33% {
    border-radius: 72% 28% 48% 48% / 28% 28% 72% 72%;
  }

  66% {
    border-radius: 100% 56% 56% 100% / 100% 100% 56% 56%;
  }
}
