.contact-section {
  padding-top: 6vw;
  height: max-content;
}

.contact-section h2 {
  font-size: 3.5vw;
  font-weight: 500;
  width: 30vw;
  height: 5vw;
  margin: auto;
  text-align: center;
}

.contact-section-lt h2 {
  color: #000;
}

.contact-section-dt h2 {
  color: #fff;
}

.contact-container,
.container-cv,
.form,
.main-form-container,
.main-form-container-panel-left,
.main-form-container-panel-right,
.button-send,
.button-down-cv {
  display: flex;
  justify-content: space-evenly;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

.contact-container {
  width: 100vw;
  height: max-content;
  padding-left: 5vw;
  padding-right: 5vw;
  margin-top: 2.55vw;
}

.container-cv,
.form,
.main-form-container-panel-left,
.main-form-container-panel-right,
.input-box,
.input-box-message {
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}

.form {
  width: 54vw;
  height: 29.8vw;
  padding: 2vw;
  background: rgba(255 255 255 / 10%);
  box-shadow: 0 8px 32px 0 rgba(31 38 135 / 37%);
  backdrop-filter: blur(7.5px);
  border-radius: 0.9vw;
  border: 0.1vw solid rgba(255 255 255 / 18%);
  margin-bottom: 5vw;
}

.main-form-container {
  width: 49.75vw;
  height: 20.15vw;
  margin-top: 1vw;
}

.main-form-container-panel-left,
.main-form-container-panel-right {
  width: 24.9vw;
  height: 20.12vw;
}

.secondary-form-container {
  margin: 1vw;
}

.input-box,
.input-box-message {
  position: relative;
  width: 22vw;
  height: 5.65vw;
  margin: 1vw;
  display: flex;
  justify-content: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
}

.input-box-message {
  height: 17vw;
}

.input-box input,
#message {
  width: 21.18vw;
  height: 3.6vw;
  padding: 0.75vw;
  border: 0.3vw solid;
  background: transparent;
  border-radius: 0.4vw;
  outline: none;
  font-size: 1.2vw;
}

.contact-section-lt .input-box input,
.contact-section-lt #message {
  color: #000;
  border-color: #8a64eb;
}

.contact-section-dt .input-box input,
.contact-section-dt #message {
  color: #fff;
  border-color: #340d4e;
}

#message {
  height: 16.15vw;
  resize: none;
}

.input-box span,
.input-box-message span {
  position: absolute;
  left: 0;
  pointer-events: none;
  text-transform: uppercase;
  color: #fff;
  transform: translateX(0.75vw) translateY(-0.55vw);
  font-size: 0.8vw;
  padding: 0 0.75vw;
  letter-spacing: 0.16vw;
}

.contact-section-lt .input-box span,
.contact-section-lt .input-box-message span,
.contact-section-lt .button-send,
.contact-section-lt .button-down-cv {
  background-color: #8a64eb;
}

.contact-section-dt .input-box span,
.contact-section-dt .input-box-message span,
.contact-section-dt .button-send,
.contact-section-dt .button-down-cv {
  background-color: #340d4e;
}

.input-box label,
.input-box-message label {
  color: red;
  font-size: 1.2vw;
}

.button-send,
.button-down-cv {
  width: 9vw;
  height: 3.47vw;
  padding: 0.6vw 1vw;
  color: #fff;
  background-color: #175cad;
  font-size: 1.3vw;
  border-radius: 0.3vw;
  outline: none;
  border: none;
  letter-spacing: 0.1vw;
  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.5s;
}

.icon-conf {
  color: #fff;
  font-size: 1.5vw;
  transition: all 0.5s;
}

.button-send span,
.button-down-cv span {
  transition: 0.5s;
}

.contact-section-lt .button-send:hover,
.contact-section-lt .button-down-cv:hover {
  background-color: #6e3fe4;
}

.contact-section-dt .button-send:hover,
.contact-section-dt .button-down-cv:hover {
  background-color: #200631;
}

.button-send:hover span,
.button-down-cv:hover span {
  transform: translateY(10vh);
}

.button-send:hover .icon-conf {
  transform: translateX(2.4vw) rotate(45deg) scale(2);
}

.button-down-cv:hover .icon-conf {
  transform: translateX(2.4vw) scale(2);
}
